// COLORS
$color-primary: #43e6bd;
$color-primary-light: #b1fae8;
$color-primary-dark: #50af90;

$color-secondary-light: #b5aeff;
$color-secondary: #8277FF;
$color-secondary-dark: #fa6257;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3:#d3d2d2;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-grey: #555555;
$font-color: $color-grey;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;