.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    position: relative;
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

.section-tech {
    padding: 25rem 0 10rem 0;
    .tech-icon {
        width: 6rem;
        margin: 1.5rem;
        &--sm {
            width: 10rem;
        }
    }

    @include respond(tab-or-bigger) {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}
